node_modules/
.next/
out/
.env
.env.local
.env*.local

# testing
coverage/
*.log

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
